body {
  padding-top: 50px;
}

/* .bump {
  padding-top: 90px;
} */

.jumbotron {
  /* The image used */
  /*background-image: url("../imgs/benjamin-davies-260884-unsplash.jpg");*/
  background-image: url("https://s3-us-west-2.amazonaws.com/mini-moo/pics/img_banner-jpeg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-text h1, .jumbo-text h2 {
  color: white;
  text-shadow: 4px 4px 8px #000000;
}